[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
pylama = "*"
seaborn = "*"
matplotlib = "*"
tqdm = "*"
scipy = "*"
mypy = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
