[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
pylama = "*"
mypy = "*"
translate = "*"
transliterate = "*"
fuzzywuzzy = "*"
polyfuzz = "*"
fastapi = "==0.79.0"
uvicorn = "*"
catboost = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
